@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-space-900 text-white font-sans antialiased;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background: #0B0D17;
}